body{
    margin-top: 0;
    word-break: break-all;
}

p{
    font-family: baskerville-urw, serif;
    font-weight: 500;
    font-style: normal;
    font-size: .75 em;
    margin: 0;
}
b{
    font-family: baskerville-urw, serif;
    font-weight: 700;
    font-style: normal;
    font-size: .75 em;
    margin: 0;
    opacity: 0;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}
b:hover {
    opacity: 1;
}



